{% extends "facebook_layout.html" %}
{% block body %}

<div class="container-md">
    <!-- left sidebar for showing general setting page, change password page and block user show page -->
    <div class="row" style="overflow-x: auto;">
        <div class="col-md-4 mt-3" style="border-right: 1px solid black;">
            <h3><b>Settings</b></h3><br>
            <a href="/setting"
                style="text-decoration: none; color: black; font-weight: 600; border-radius: 10px; width: 100%;"
                class="left_menu_1 pt-2 pb-2 px-2"><i class="fa fa-cog"
                    style="font-size:18px"></i>&nbsp;&nbsp;General&emsp;&emsp;&nbsp;&nbsp;</a><br><br>
            <a href="/change_password"
                style="background: #d8d8d8; text-decoration: none; color: black; font-weight: 600; border-radius: 10px; width: 100%;"
                class="left_menu_1 pt-2 pb-2 px-2"><i class="fa fa-shield"
                    style="font-size:18px"></i>&nbsp;&nbsp;Security&emsp;&emsp;&nbsp; </a><br><br>
            <a href="{{url_for('friends.block_user')}}"
                style="text-decoration: none; color: black; font-weight: 600; border-radius: 10px; width: 100%;"
                class="left_menu_1 pt-2 pb-2"><span class="fa-stack">
                    <i class="fa fa-user fa-stack-1x"></i>
                    <i class="fa fa-ban fa-stack-2x"></i></span>&nbsp;&nbsp;Block User&emsp;</a>
            <hr>
        </div>

        <!-- form for change password -->
        <div class="col-md-8 mt-3">
            <h3><b>Change Password</b></h3><br>
            <form method="POST">
                <div class="form-group row mt-3">
                    <label for="inputPassword3" class="col-sm-3 col-form-label"><b>Password</b></label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password"
                            name="old_password">
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <label for="inputConfirmPassword3" class="col-sm-3 col-form-label"><b>Confirm Password</b></label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputConfirmPassword3"
                            placeholder="New Password" name="new_password">
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <label for="inputConfirmnewPassword3" class="col-sm-3 col-form-label"><b>Confirm New
                            Password</b></label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputConfirmnewPassword3"
                            placeholder="Confirm New Password" name="confirm_new_password">
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-sm-12">
                        <button type="submit" style="width: 100%;" class="btn btn-primary">Change</button>
                    </div>
                </div>
            </form>
            <hr>
        </div>
    </div>
</div>

{% endblock %}