body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #F0F2F5;
}

#Header {
    background: white;
    box-shadow: 0 0 5px 0 rgb(179, 179, 179);
}

.badge {
    position: relative;
    top: -15px;
    left: -15px;
    border: 1px solid black;
    border-radius: 100%;
    background: red;
}

#searchbar_open_btn_after_1199px {
    display: none;
}

#top_right_sidebar_icon_after_1199px {
    display: none;
}

#menu_with_plus_sign_after_991px {
    display: none;
}

#top_right_sidebar_icon_after_991px {
    display: none;
}

#top_right_sidebar_icon_after_768px {
    display: none;
}

.center_sidebar_top {
    display: none;
}

.block img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 1rem 0 0;
}

.user_add_post {
    width: 92%;
    border: 1px solid #e6e7e9;
    background: #F0F2F5;
    border-radius: 20px;
    font-size: 17px;
    height: 40px;
    float: right;
}

.add_post_input{
    width: 95%;
    border: 1px solid #e6e7e9;
    background: #F0F2F5;
    border-radius: 15px;
    font-size: 17px;
    height: 40px;
    float: right;
}

.right_sidebar_fixed_scrn {
    width: 18.5%;
    margin-left: 6%;
}

.left_sidebar_menu:hover {
    background-color: #e2e2e2;
}

.profile-block img {
    width: 40px;
    height: 40px;
    float: left;
    margin: -10px 1rem 0 0;
}

.option_block img {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0 1rem 0 0;
}

.profile-option_block img {
    width: 40px;
    height: 40px;
    float: left;
    margin: -10px 1rem 0 0;
}

.option_block img {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0 1rem 0 0;
}

.profile-block:hover{
    background-color: #d8d8d8;
}

.post-user-profile img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0px 1rem 0 0;
}

.user_post_comment {
    width: 92%;
    border: 1px solid #e6e7e9;
    background: #F0F2F5;
    border-radius: 15px;
    font-size: 17px;
    height: 40px;
    margin-left: 5px;
}

.show_friend_request img {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0 1rem 0 0;
}

.profile {
    margin-top: 22%;
    border-radius: 100%;
    border: 5px solid white;
}

.option_block:active {
    color: blue;
}

.option_block:hover {
    background-color: #e9e8fa;
    color: #000;
}

.option_block {
    width: 98%;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
}

@media (min-width: 992px) {
    .cover-profile {
        padding-left: 10%;
        padding-right: 10%;
    }
    .user_all_post {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 1760px){
    .user_post_comment {
        width: 90%;
    }
}

@media (max-width: 1745px){
    .user_post_comment {
        width: 91%;
    }
}

@media (max-width: 1670px) {
    .user_add_post {
        width: 90%;
    }

    .right_sidebar_fixed_scrn {
        width: 19.5%;
        margin-left: 5%;
    }
    .user_post_comment {
        width: 89%;
    }
}

@media (max-width: 1425px){
    .user_post_comment {
        width: 86%;
    }
}

@media (max-width: 1400px) {
    .user_add_post {
        width: 89%;
    }

    .right_sidebar_fixed_scrn {
        width: 21.5%;
        margin-left: 3%;
    }
}

@media (max-width: 1309px){
    .user_post_comment {
        width: 88%;
    }
}

@media (max-width: 1260px) {
    .user_add_post {
        width: 88%;
    }
    .user_post_comment {
        width: 87.5%;
    }
}

@media (max-width: 1199px) {
    .user_add_post {
        width: 91%;
    }

    .right_sidebar_fixed_scrn {
        width: 22.5%;
        margin-left: 2%;
    }

    .add_post_input{
        width: 93%;
    }
}

@media (max-width: 1080px) {
    .user_add_post {
        width: 90%;
    }

    .right_sidebar_fixed_scrn {
        width: 23.5%;
        margin-left: 1%;
    }
}

@media (max-width: 991px) {
    .user_add_post {
        width: 92%;
    }
}

@media (max-width: 900px) {
    .user_add_post {
        width: 91%;
    }
}

@media (max-width: 800px) {
    .user_add_post {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .user_add_post {
        width: 93%;
    }
}

@media (max-width: 768px) {
    .user_add_post {
        width: 91%;
    }
    
    .add_post_input{
        width: 91.5%;
    }
}

@media (max-width: 570px) {
    .user_add_post {
        width: 90%;
    }

    .add_post_input{
        width: 91%;
    }
}

@media (max-width: 540px) {
    .user_add_post {
        width: 89%;
    }
    .add_post_input{
        width: 90%;
    }
}

@media (max-width: 500px) {
    .user_add_post {
        width: 89%;
    }
}

@media (max-width: 991px) {
    .left_sidebar {
        display: none;
    }

    .friends_written {
        display: none;
    }

    .right_sidebar_fixed_scrn {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .right_sidebar {
        display: none;
    }
}

@media (min-width: 992px) {
    .main_content {
        margin-left: 24%;
    }
    .friend_request_card {
        width: 600px;
    }
}

@media (min-width: 1200px) {
    .center_add_post {
        margin-left: 15%;
        margin-right: 15%;
    }
    .center_post {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 1681px) {
    .br_after_1680px {
        display: none;
    }
}

@media (max-width: 767px) {
    #top_right_sidebar_icon_after_768px {
        display: inline;
        margin-left: 10px;
    }

    #Header {
        padding-bottom: 5px;
    }

    .options {
        border-bottom: 1px solid grey;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }

    .about_heading {
        margin-left: 3px;
        margin-bottom: 0px;
        font-size: 24px;
    }

    .option_block {
        margin-left: -10px;
    }
    .br_before_768px {
        display: none;
    }
}

@media (min-width: 768px) {
    .center_sidebar_top {
        display: inline;
    }

    .br_after_768px {
        display: none;
    }

    .options {
        border-right: 1px solid grey;
    }
    .option_block {
        margin-left: 10px;
    }

    .about_heading {
        margin-left: 30px;
        margin-bottom: 0px;
        font-size: 24px;
    }
}

@media (max-width: 992px) {
    #menu {
        display: none;
    }

    #menu_with_plus_sign_after_991px {
        display: inline;
    }

    #top_right_sidebar_icon_after_991px {
        display: inline;
    }

    #myDiv5 {
        display: none;
    }
}

@media (min-width: 1199px) {
    .top_search_box {
        width: 238px;
    }
}

@media (max-width: 1199px) {
    .top_search_box {
        width: 70%;
    }
}

@media (max-width: 1199px) {
    .top_search_box {
        display: none;
    }

    .top_right_profile_img_with_firstname {
        display: none;
    }

    #searchbar_open_btn_after_1199px {
        display: inline;
    }

    #top_right_sidebar_icon_after_1199px {
        display: inline;
    }
}

@media (max-width: 992px) {
    #top_right_sidebar_icon_after_1199px {
        display: none;
    }
}



